/* variables------ */
:root {
  --backGrey: #333;
  --blue: #00f;
  --grey: #bbb;
  --red: #f00;
  --yellow: #006400;
  --white: #fff;

  --priFont: "Special Elite";
  --secFont: "Oxygen";
  --tirFont: "Josefin Slab";
}

/* reset---------- */
* {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

/* types---------- */
body {
  background-color: var(--backGrey);
  color: var(--white);
  font-family: var(--secFont), sans-serif;
  margin: 1em;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

footer {
  margin-top: 3rem;
}

header {
  position: relative;
}

li {
  font-size: 1.5em;
  margin-bottom: 1rem;
  font-family: var(--tirFont);
}

video {
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background: transparent no-repeat 0 0;
  height: 100%;
  /* position: relative; */
  width: 100%;
  /* z-index: -1; */
}

/* aaaaa---------- */
.aboutTx {
  color: var(--white);
  font-family: var(--tirFont), serif;
  font-size: 2em;
  width: 80%;
}

.abutton {
  background: var(--yellow);
  border-radius: 5px;
  border: 1px solid var(--grey);
  color: var(--white);
  display: flex;
  height: 2em;
  justify-content: center;
  margin: 2% 20% 0 20%;
}

.abutton a {
  color: var(--white);
}

.abutton:hover {
  background: #0f0;
}

.aladin {
  font-family: "Aladin", cursive;
}

/* bbbbb---------- */
.banner {
  align-items: center;
  color: var(--grey);
  display: flex;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid var(--grey);
}

.bannerBody {
  line-height: 1.75;
}

.bbutton {
  border-radius: 5px;
  display: flex;
  height: 2em;
  justify-content: center;
}

.bbutton a {
  color: var(--white);
}

.bbutton:hover {
  background: var(--yellow);
}

.booTitle {
  margin: 8em 0 0 4em;
  position: absolute;
  font-size: 4rem;
  font-family: var(--priFont), cursive;
}

/* ccccc---------- */
.contact {
  color: var(--grey);
  font-size: 2em;
  margin: -1em 0 1em 0;
}

.cription {
  color: var(--grey);
  margin: 1em;
}

.cripBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1em 0 1em;
}

.cripSubTitle {
  font-size: 1em;
  margin: 0.5em;
}

.cripTitle {
  font-family: var(--priFont), cursive;
  font-size: 3em;
}

.contact {
  font-size: 1em;
}

/* ddddd---------- */
.dispFlex {
  display: flex;
}

/* eeeee---------- */

/* fffff---------- */
.fadeIn.isVisible {
  animation: fadeIn 2s forwards;
  will-change: opacity;
}

.faq {
  font-size: 1.5em;
  font-family: var(--tirFont);
}

.faqTitle {
  margin: 4em 0 0 3em;
  position: absolute;
  font-size: 8rem;
  font-family: var(--priFont), cursive;
}

.fs5em {
  font-size: 5em;
}

.fs75em {
  font-size: 0.75em;
}

/* ggggg---------- */
.greedy {
  font-size: 2em;
}

.green {
  color: green;
}

/* hhhhh---------- */
hr.solid {
  border-top: 8px dashed #bbb;
  border-radius: 5px;
}

.hw100 {
  height: 427px;
  width: 640px;
}

.hw125 {
  height: 125%;
  width: 125%;
}

/* iiiii---------- */
.inbutton {
  padding-top: 0.3em;
}

/* jjjjj---------- */
.jcc {
  display: flex;
  justify-content: center;
}

.jsc {
  display: flex;
  justify-self: center;
}

/* kkkkk---------- */

/* lllll---------- */
.leftVisible.isVisible {
  animation: leftVisible 2s 1 forwards;
  opacity: 0;
  will-change: transform, opacity;
}

/* mmmmm---------- */
.marTop1em {
  margin-top: 1em;
}

.ml2rem {
  margin-left: 2rem;
}

.ml3rem {
  margin-left: 2.3rem;
}

.mr2rem {
  margin-right: 2rem;
}

/* nnnnn---------- */

/* ooooo---------- */
.oxy {
  font-family: var(--secFont);
}

/* ppppp---------- */
.padBot4em {
  padding-bottom: 4em;
}

/* qqqqq---------- */

/* rrrrr---------- */
.red {
  color: red;
}

.rightVisible.isVisible {
  animation: rightVisible 2s 1 forwards;
  opacity: 0;
  will-change: transform, opacity;
}

.rmTxDec {
  color: var(--grey);
  text-decoration: none;
}

.rmTxDec:hover,
.rmTxWt:hover {
  color: var(--red);
}

.rmTxWt {
  color: var(--white);
  text-decoration: none;
}

/* sssss---------- */
.shineBack {
  background: var(--backGrey);
}

.shineText {
  position: relative;

  /* text-transform: uppercase; */
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #fff, #000, #fff);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: 5s animate linear infinite;
  -webkit-animation: 5s animate linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  z-index: 3;
}

.spacer {
  align-items: center;
  background-color: var(var(--backGrey));
  display: flex;
  height: 3em;
  justify-content: center;
  width: 100%;
}

.specElite {
  font-family: var(--priFont), cursive;
}

/* ttttt---------- */
.tab {
  text-indent: 5%;
}

.titleText {
  left: 50%;
  position: absolute;
  top: 10%;
  z-index: 1;
}

.txDecNo {
  text-decoration: none;
}

.txDecNo:hover {
  color: #00ff00
}

/* uuuuu---------- */

/* vvvvv---------- */

/* wwwww---------- */
.w40 {
  width: 40%;
}

.w80 {
  width: 80%;
}

/* xxxxx---------- */

/* yyyyy---------- */

/* zzzzz---------- */

/* miscs---------- */
@-webkit-keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes leftVisible {
  0% {
    transform: translate(-2000px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rightVisible {
  0% {
    transform: translate(2000px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@media only screen and (max-width: 480px) {
  figure {
    align-self: center;
  }

  figure > a.banner > img {
    width: 60%;
  }

  li {
    font-size: 1.3em;
    margin: 0 0 0.75em 1em;
  }

  .aboutTx {
    font-size: 1.3em;
  }

  .abutton {
    margin: 2% 10% 0 10%;
  }

  .bannerBody {
    font-size: 0.5em;
    margin: 0.2em 0.5em 0.2em 0.5em;
  }

  .booTitle {
    margin: 6.2em 0 0 1em;
    position: absolute;
    font-size: 2rem;
    font-family: var(--priFont), cursive;
  }

  .cripTitle {
    font-size: 1.5em;
  }

  .faqTitle {
    display: none;
  }

  .greedy {
    font-size: 1.5em;
    position: relative;
    top: 1.5em;
  }

  .hw100 {
    height: 100%;
    width: 100%;
  }

  .inbutton {
    padding: 0.5em 0 0 0;
  }

  .medQuryCont {
    position: relative;
  }

  .shineText {
    font-size: 1em;
  }

  .subTx {
    font-size: 0.75em;
    margin: 0 1em 0 1em;
  }

  .titleText {
    position: absolute;
    left: 30%;
    top: 30%;
    z-index: 1;
  }

  span.titleText {
    font-size: 0.75em;
    left: 30%;
    top: 55%;
  }

  .txDecNo {
    font-size: 0.75em;
  }
}
